@font-face {
  font-family: "Open Sans";
  src: "/fonts/OpenSans-Bold.woff";
  src: "/fonts/OpenSans-Bold.woff2";
  font-style: Bold;
}

@font-face {
  font-family: "Open Sans";
  src: "/fonts/OpenSans-Regular.woff";
  src: "/fonts/OpenSans-Regular.woff2";
  font-style: Regular;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
}

.pop-up {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.form {
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  width: 390px;
  height: 596px;
  background-color: #ffffff;
  position: relative;
}

.form-row {
  margin-left: 30px;
  margin-right: 40px;
}

.form-group {
  display: block;
}

.form-hint {
  display: block;
  margin-top: 20px;
  line-height: 20px;
}

.select { 
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select { 
  display: block;
  box-sizing: border-box;
  width: 330px;
  height: 48px;
  padding-left: 20px;
  margin: 0;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 5px  center;
  background-size: 10px;
  background-color: #f4f7f6;
  border: none;
}

.button-form {
  width: 330px;
  height: 48px;
  background-color: #b59f5b;
  margin-top: 19px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.button-form:hover {
  width: 330px;
  height: 48px;
  background-color: #323232;
}

.bb-editor {
 width: 330px;
 height: 131px;
 background-color: #f4f7f6;
 font-size: 15px;
 color: #000000;
 font-weight: 400;
 line-height: 40px;
 text-indent: 15px;
 resize: none;
 border: none;
}

.bb-editor:focus {
  width: 330px;
  height: 131px;
  outline: 1px solid #b59f5b;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center  center;
  background-size: 20px;
  cursor: pointer;
}

.radio-group-text::before {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}     

.radio-group-text::before {
  margin-right: 8px;
}

.radio-group {
  display: inline-block;
  font-size: 15px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 15px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; 
  width: 1px; 
}

.close {
  width: 18px;
  height: 18px;
  border-radius: 16px;
  top: -30px;
  right: 0;
  cursor: pointer;
  display: inline-block;
  border: none;
  position: absolute;

}

.close:hover {
  opacity: 0.6;
}

.close:before, .close:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../svg/form-x.svg");
}

@media (min-width: 641px) and (max-width: 940px) {
  .header {
    width: 100%;
    height: 450px;
    position: relative;
    background-color: #000000;
    background-image: url("../images/banner-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header::before {
    content: "";
    display: block;
    position: absolute;
    background-color:#000000;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    opacity: 0.6;
    overflow: hidden;
  }

  .logo-menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 100%;
    padding: 65px 15px 0 15px;
  }

  .logo {
    width: 179px;
    margin-top: -30px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

  .hamburger {
   width: 50px;
   margin-top: -22px;
   margin-left: 50%;
   cursor: pointer;
 }

 .hamburger:hover {
  opacity: 0.6;
}

.hamburger-btn {
  display: block;
  background: #fff;
  border-radius: 2px;
  width: 30px;
  height: 3px;
  margin: 6px 0;
  
}

.nav-menu {
  display: none;
}

.block-header {
  max-width: 650px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-top: 44px;
  padding: 50px 30px 10px 30px;
}

h1 {
  font-size: 40px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: 700; 
  text-align: center;
}

h1 a {
  text-decoration: none;
  color: #ffffff;
}

.container-trends {
  margin-top: 40px;
}

.heading-title {
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  margin: 40px auto 13px;
}

.heading-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 13px auto 25px;
}

.trends {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.trends-item {
  width: calc(50% - 4px);
  height: 247px;
  background-color: #eff6f1;
  
}

.trends-item-first {
  background-image: url("../images/trend1.jpg");
  position: relative;
  background-size: cover;
}

.trends-item-first::before {
  content: "";
  display: block;
  background-color:#000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  opacity: 0.6;
  overflow: hidden;
}

.trends-item-second {
  background-image: url("../images/trend2.jpg");
  position: relative;
  background-size: cover;
}

.trends-item-second::before {
  content: "";
  display: block;
  background-color:#000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  opacity: 0.6;
  overflow: hidden;
}

.trends-item-third {
  background-image: url("../images/trend3.jpg");
  background-size: cover;
  position: relative;
}

.trends-item-third::before {
  content: "";
  display: block;
  background-color:#000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  opacity: 0.6;
  overflow: hidden;
}

.trends-item-fourth {
  background-image: url("../images/trend4.jpg");
  background-size: cover;
  position: relative;
}

.trends-item-fourth::before {
  content: "";
  display: block;
  background-color:#000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  opacity: 0.6;
  overflow: hidden;
}

.trends-category {
  padding: 30px 15px 0 20px;
  margin: 100px 25px 0 20px;
  max-width: 254px;
  height: 100px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #b59f5b;
  position: relative;
  overflow: hidden;
}

.trends-category-second {
  padding:30px 0 0 30px;
  margin: 80px 25px 0 20px;
  max-width: 300px;
  height: 120px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #b59f5b;
  position: relative;
  overflow: hidden;
}

.trends-content-title a {
  font-size: 17px;
  line-height: 22px;;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-decoration: none;
}

.trends-content-title a:hover {
  color: #b59f5b;
}

.container {
  display: flex;
  max-width: 720px;
  margin: 0 auto;
  padding: 54px 0 0;
}

.main {
  width: 60%;
  margin-left: 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 59px;
  margin-bottom: 45px;
}

.card:first-child {
  margin-top: 0;
}

.img {
  max-width: 381px;
  height: 294px;
  background-color: #eff6f1;
  color: #000;
}

.content {
  max-width: 367px;
  margin-left: 20px;
}

.category {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  
}

.category-item {
  margin-right: 18px;
}

.category-item:last-child {
  margin-right: 0;
}

.category-item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 37px;
  color: #b59f5b;
  font-weight: bold;
  line-height: 0;
  text-transform: uppercase;
}

.category-item a:hover {
  text-decoration: underline;
}

.content-title a {
  text-decoration: none;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: bold;
  text-transform: uppercase;
}

.content-title a:hover {
  color: #b59f5b;
}

.data-time {
  display: flex;
  margin: 30px 0 50px 0; 
}

.content-data {
  font-style: inherit;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
}
.content-data-time {
  color: #888888;
  font-size: 12px;
  font-weight: 400;
  padding-right: 14px;
}

.content-text {
  max-width: 367px;
  height: 62px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  margin-top: -10px;
  overflow: hidden;
}

.content-text p {
 padding-bottom: 15px; 
}

.content-text p:last-child {
  padding-bottom: 0;
}

.shape::after {
  content: "";
  display: block;
  width: 392px;
  height: 3px;
  background-color: #eeeeee;
  margin: 13px auto 0;
}

.sidbar {
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.heading {
  font-size: 14px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: -10px auto 13px;
}

.heading::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 13px auto 25px;
}

.posts-card {
  display: flex;
  margin-top: 19px;
}

.posts-card-img {
  width: 70px;
  height: 70px;
  background-color: #f4f7f6;
  color: #000;
}

.posts-card-content {
  max-width: 180px;
  margin-top: -8px;
  padding-left: 20px;
}

.posts-card-content-data {
  font-size: 12px;
  color: #888888;
  font-weight: 400;
}

.posts-card-content-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.posts-card-content-title a {
  text-decoration: none;
  color: #000000; 
}

.posts-card-content-title a:hover {
  color: #b59f5b;
}

.section {
  margin-top: 60px;
  margin-right: 20px;
}

.search-form {
  display: flex;
  margin-bottom: 40px;
}

.search-input {
  width: 140%;
  height: 48px;
  background-color: #f4f7f6;
  text-indent: 15px;
  font-family: inherit;
  font-size: 15px;
  border: none;
}

.search-input:focus {
  outline: 1px solid #b59f5b;
}

.search-btn {
  width: 48px;
  height: 48px;
  margin-left: 30px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  border: none;
  cursor: pointer;
}

.search-btn:hover {
  width: 48px;
  height: 48px;
  background-color: #323232;
  border: 2px;
}

.search {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.form-btn {
  margin-top: 13px
}

.textbox {
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  font-family: inherit;
  font-size: 15px; 
  font-weight: 400;
  border: none;
  text-indent: 15px;
}

.textbox:focus {
  outline: 1px solid #b59f5b;
}

.button {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  margin-top: 19px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #323232;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.tags li {
 margin-right: 4px;
 margin-bottom: 12px;
}

.tags-link {
  height: 30px;
  background-color: rgba(244,243,241,0);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #0f0d0e;
  font-weight: 700;
  border: 3px solid #eeeeee;
  padding: 6px 15px; 
}

.tags-link:hover {
  border: 3px solid #b59f5b;
}

.theme {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.theme li {
 margin-right: 4px;
 margin-bottom: 20px;
 margin-top: -22px;
}

.theme-link a {
  text-decoration: none;
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
}
.theme-link a:hover {
  color: #b59f5b;
}
.theme-link-card {
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  vertical-align: top;
}

.theme-link-card::after {
  content: "";
  display: block;
  width: 271px;
  height: 1px;
  background-color: #eeeeee;
}

.shop-container {
  padding-left: 20px;
  padding-right: 40px;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-item {
  width: 47%;
  /*margin-left: 10px;
  margin-right: 10px;*/
  margin-bottom: 30px;
}

.shop-item-first {
  max-width: 292px;
  height: 226px;
  margin-left: 25px;
  background-color: #eff6f1;
  background-image: url("../images/shop-item-tablet1.jpg");
}

.shop-item-second {
  max-width: 292px;
  height: 226px;;
  margin-left: 25px;
  background-color: #eff6f1;
  background-image: url("../images/shop-item-tablet2.jpg");
}

.shop-item-third {
  max-width: 292px;
  height: 226px;
  margin-left: 25px;
  background-color: #eff6f1;
  background-image: url("../images/shop-item-tablet3.jpg");
}

.shop-category {
  padding:50px 20px 0 15px;
  margin: -35px -20px 0 0;
  max-width: 302px;
  height: 264px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #b59f5b;
  overflow: hidden;
}

.shop-content-title a {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-decoration: none;
}

.shop-category p {
  width: 100%;
  max-height: 120px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  overflow: hidden;
  padding-bottom: 10px;
}

.shop-category-item {
  text-decoration: none;
  font-size: 11px;
  color: #b59f5b;
  font-weight: bold;
  line-height: 0;
  text-transform: uppercase;
}

.shop-category-item:hover {
  text-decoration: underline;
}

.product-prices {
  display: flex;
  flex-direction: column;
  height: 60px;
  padding-right: 35px;
}

.product-price {
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.product-price-two {
  visibility: hidden;
}

.product-new-price {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.product-button {
  width: 60%;
  height: 48px;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700; 
  background-color: #b59f5b;
  margin: -45px 20px 0 125px;
  border: none;
}

.product-button:hover {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700
  width: 140px;
  height: 48px;
  background-color: #323232;
}

.footer {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.socials-icon {
 background-color: #f4f7f6;
 height: 83px;
 display: flex;
 justify-content: center;
 overflow: hidden;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.social-item {
  margin-right: 25px;
}

.socials-link {
  display: inline-block;
  width: 20px;
  height: 30px;
  background-size:25px;
  background-repeat: no-repeat;
  background-position: center; 
}

.styles-year {
  display: flex;
  justify-content: center;
}

.styles-year-text {
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  font-weight: 700;
  margin-top: 54px;
  margin-bottom: 55px;
  overflow: hidden;
}

.copyright {
  text-decoration: none;
  color: #999999;
}
}

@media (min-width: 941px) and (max-width: 1199px) {
  .header {
    width: 100%;
    height: 450px;
    position: relative;
    background-color: #000000;
    background-image: url("../images/banner-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header::before {
    content: "";
    display: block;
    position: absolute;
    background-color:#000000;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    opacity: 0.6;
    overflow: hidden;
  }

  .logo-menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 100%;
    padding: 65px 15px 0 15px;
  }

  .logo {
    width: 179px;
    margin-top: -30px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

  .hamburger {
   width: 50px;
   margin-top: -22px;
   margin-left: 50%;
   cursor: pointer;
 }

 .hamburger:hover {
  opacity: 0.6;
}

.hamburger-btn {
  display: block;
  background: #fff;
  border-radius: 2px;
  width: 30px;
  height: 3px;
  margin: 6px 0;
  
}

.nav-menu {
  display: none;
}

.block-header {
  max-width: 650px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-top: 44px;
  padding: 50px 30px 10px 30px;
}

h1 {
  font-size: 40px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: 700; 
  text-align: center;
}

h1 a {
  text-decoration: none;
  color: #ffffff;
}

.container-trends {
  margin-top: 40px;
}

.heading-title {
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  margin: 40px auto 13px;
}

.heading-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 13px auto 25px;
}

.trends {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.trends-item {
  width: calc(25% - 4px);
  height: 247px;
  background-color: #eff6f1;
  
}

.trends-item-first {
  background-image: url("../images/trend1.jpg");
  position: relative;
  background-size: cover;
}

.trends-item-first::before {
  content: "";
  display: block;
  background-color:#000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  opacity: 0.6;
  overflow: hidden;
}

.trends-item-second {
  background-image: url("../images/trend2.jpg");
  position: relative;
  background-size: cover;
}

.trends-item-second::before {
  content: "";
  display: block;
  background-color:#000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  opacity: 0.6;
  overflow: hidden;
}

.trends-item-third {
  background-image: url("../images/trend3.jpg");
  background-size: cover;
  position: relative;
}

.trends-item-third::before {
  content: "";
  display: block;
  background-color:#000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  opacity: 0.6;
  overflow: hidden;
}

.trends-item-fourth {
  background-image: url("../images/trend4.jpg");
  background-size: cover;
  position: relative;
}

.trends-item-fourth::before {
  content: "";
  display: block;
  background-color:#000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  opacity: 0.6;
  overflow: hidden;
}

.trends-category {
  padding: 30px 15px 0 20px;
  margin: 100px 25px 0 20px;
  max-width: 254px;
  height: 100px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #b59f5b;
  position: relative;
  overflow: hidden;
}

.trends-category-second {
  padding:30px 0 0 30px;
  margin: 80px 25px 0 20px;
  max-width: 300px;
  height: 120px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #b59f5b;
  position: relative;
  overflow: hidden;
}

.trends-content-title a {
  font-size: 17px;
  line-height: 22px;;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-decoration: none;
}

.trends-content-title a:hover {
  color: #b59f5b;
}

.container {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  padding: 54px 80px 0;
}

.main {
  width: 60%;
  margin-left: 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 59px;
  margin-bottom: 45px;
}

.card:first-child {
  margin-top: 0;
}

.img {
  max-width: 381px;
  height: 294px;
  background-color: #eff6f1;
  color: #000;
}

.content {
  max-width: 367px;
  margin-left: 20px;
}

.category {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  
}

.category-item {
  margin-right: 18px;
}

.category-item:last-child {
  margin-right: 0;
}

.category-item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 37px;
  color: #b59f5b;
  font-weight: bold;
  line-height: 0;
  text-transform: uppercase;
}

.category-item a:hover {
  text-decoration: underline;
}

.content-title a {
  text-decoration: none;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: bold;
  text-transform: uppercase;
}

.content-title a:hover {
  color: #b59f5b;
}

.data-time {
  display: flex;
  margin: 30px 0 50px 0; 
}

.content-data {
  font-style: inherit;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
}
.content-data-time {
  color: #888888;
  font-size: 12px;
  font-weight: 400;
  padding-right: 14px;
}

.content-text {
  max-width: 367px;
  height: 62px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  margin-top: -10px;
  overflow: hidden;
}

.content-text p {
 padding-bottom: 15px; 
}

.content-text p:last-child {
  padding-bottom: 0;
}

.shape::after {
  content: "";
  display: block;
  width: 392px;
  height: 3px;
  background-color: #eeeeee;
  margin: 13px auto 0;
}

.sidbar {
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.heading {
  font-size: 14px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: -10px auto 13px;
}

.heading::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 13px auto 25px;
}

.posts-card {
  display: flex;
  margin-top: 19px;
}

.posts-card-img {
  width: 70px;
  height: 70px;
  background-color: #f4f7f6;
  color: #000;
}

.posts-card-content {
  max-width: 180px;
  margin-top: -8px;
  padding-left: 20px;
}

.posts-card-content-data {
  font-size: 12px;
  color: #888888;
  font-weight: 400;
}

.posts-card-content-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.posts-card-content-title a {
  text-decoration: none;
  color: #000000; 
}

.posts-card-content-title a:hover {
  color: #b59f5b;
}

.section {
  margin-top: 60px;
  margin-right: 20px;
}

.search-form {
  display: flex;
  margin-bottom: 40px;
}

.search-input {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  text-indent: 15px;
  font-family: inherit;
  font-size: 15px;
  border: none;
}

.search-input:focus {
  outline: 1px solid #b59f5b;
}

.search-btn {
  width: 48px;
  height: 48px;
  margin-left: -48px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  border: none;
  cursor: pointer;
}

.search-btn:hover {
  width: 48px;
  height: 48px;
  background-color: #323232;
  border: 2px;
}

.search {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.form-btn {
  margin-top: 13px
}

.textbox {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  font-family: inherit;
  font-size: 15px; 
  font-weight: 400;
  border: none;
  text-indent: 15px;
}

.textbox:focus {
  outline: 1px solid #b59f5b;
}

.button {
  width: 270px;
  height: 48px;
  background-color: #b59f5b;
  margin-top: 19px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #323232;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.tags li {
 margin-right: 4px;
 margin-bottom: 12px;
}

.tags-link {
  height: 30px;
  background-color: rgba(244,243,241,0);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #0f0d0e;
  font-weight: 700;
  border: 3px solid #eeeeee;
  padding: 6px 15px; 
}

.tags-link:hover {
  border: 3px solid #b59f5b;
}

.theme {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.theme li {
 margin-right: 4px;
 margin-bottom: 20px;
 margin-top: -22px;
}

.theme-link a {
  text-decoration: none;
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
}
.theme-link a:hover {
  color: #b59f5b;
}
.theme-link-card {
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  vertical-align: top;
}

.theme-link-card::after {
  content: "";
  display: block;
  width: 271px;
  height: 1px;
  background-color: #eeeeee;
}

.shop-container {
  padding-left: 80px;
  padding-right: 120px;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-item {
  max-width: 50%;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.shop-item-first {
  max-width: 292px;
  height: 226px;
  margin-left: 25px;
  background-color: #eff6f1;
  background-image: url("../images/shop-item-tablet1.jpg");
}

.shop-item-second {
  max-width: 292px;
  height: 226px;;
  margin-left: 25px;
  background-color: #eff6f1;
  background-image: url("../images/shop-item-tablet2.jpg");
}

.shop-item-third {
  max-width: 292px;
  height: 226px;
  margin-left: 25px;
  background-color: #eff6f1;
  background-image: url("../images/shop-item-tablet3.jpg");
}

.shop-category {
  padding:50px 20px 0 15px;
  margin: -35px -20px 0 0;
  max-width: 302px;
  height: 264px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #b59f5b;
  overflow: hidden;
}

.shop-content-title a {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-decoration: none;
}

.shop-category p {
  width: 100%;
  max-height: 120px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  overflow: hidden;
  padding-bottom: 10px;
}

.shop-category-item {
  text-decoration: none;
  font-size: 11px;
  color: #b59f5b;
  font-weight: bold;
  line-height: 0;
  text-transform: uppercase;
}

.shop-category-item:hover {
  text-decoration: underline;
}

.product-prices {
  display: flex;
  flex-direction: column;
  height: 60px;
  padding-right: 35px;
}

.product-price {
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.product-price-two {
  visibility: hidden;
}

.product-new-price {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.product-button {
  width: 60%;
  height: 48px;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700; 
  background-color: #b59f5b;
  margin: -45px 20px 0 125px;
  border: none;
}

.product-button:hover {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700
  width: 140px;
  height: 48px;
  background-color: #323232;
}

.footer {
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 100px;
}

.socials-icon {
 background-color: #f4f7f6;
 height: 83px;
 display: flex;
 justify-content: center;
 overflow: hidden;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.social-item {
  margin-right: 25px;
}

.socials-link {
  display: inline-block;
  width: 20px;
  height: 30px;
  background-size:25px;
  background-repeat: no-repeat;
  background-position: center; 
}

.styles-year {
  width: 100%;
  display: flex;
  justify-content: center;
}

.styles-year-text {
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  font-weight: 700;
  margin-top: 54px;
  margin-bottom: 55px;
  overflow: hidden;
}

.copyright {
  text-decoration: none;
  color: #999999;
 }
}






